<!DOCTYPE html>
<html>
<head>
    <title>QUnit Test Suite</title>

     <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qunit/2.9.2/qunit.min.css" integrity="sha256-Fw0jDf1yRtYUvzViEPe1af0llOaLKaDJt69t08pNLgY=" crossorigin="anonymous" />
     <script src="//cdnjs.cloudflare.com/ajax/libs/qunit/2.9.2/qunit.min.js" integrity="sha256-aHX3r/VJLziirvDfaqftpZJFlEDZ2ZD+RcBRw3+5rwE=" crossorigin="anonymous"></script>

     <script src="static/js/calculate.js"></script>

     <script src="static/js/test.js"></script>
</head>
<body>
    <h1 id="qunit-header">QUnit Test Suite</h1>
    <h2 id="qunit-banner"></h2>
    <div id="qunit-testrunner-toolbar"></div>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests">test markup, hidden.</ol>
</body>
</html>